@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d1117;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-grid-pattern {
  background-image: linear-gradient(to right, #30363d 1px, transparent 1px),
    linear-gradient(to bottom, #30363d 1px, transparent 1px);
  background-size: 24px 24px;
}
